extends layout

block content
    h1 Delete 
    form(method='post' action='/delete/' + model.id)
        p= model.id
        p= model.title
        p= model.year
        button(type='submit') Delete
