extends layout

block content
    h1 Films
    ul(class='list')
        each film in films
            img(src='../images/placeholder_image.jpg' alt='placeholder img' class='list__img')
            li(class='list__item') #{ film.title } 
                span (#{ film.year })
                a(class='btn btn--blue' href="/edit/" + film.id) 
                    img(src='../images/edit.svg')
                a(class='btn btn--red' href="/delete/" + film.id)
                    img(src='../images/trash.svg')
