extends layout

block content
    h1 Films
    img(src='../images/the_fastest_sword.jpg')
    ul
        each film in films
            li(class='list__item') #{ film.title } #{ film.year } 
                a(class='btn btn--blue' href="/edit/" + film.id) 
                    img(src='../images/edit.svg')
                a(class='btn btn--red' href="/delete/" + film.id)
                    img(src='../images/trash.svg')
