extends layout

block header
    h1 Films
    
block content
    ul
        each film in films
            li(class='list__item') #{ film.title } #{ film.year } 
                a(class='btn btn--blue' href="/edit/" + film.id) Edit
                a(class='btn btn--red' href="/delete/" + film.id) Delete
