extends layout

block header
    h1 Login
    
block content
    form(method='post')
        label(for='email') Email Address
        input(type='text' name='email' value='' placeholder='Enter Email')
        label(for='password') Password
        input(type='password' name='password' value='' placeholder='Enter Password')
        button(class='btn btn--large' type='submit') Submit
