@font-face {
	font-family: 'Ostrich-Sans-Black';
	src: url('../fonts/ostrich-sans-black.eot');
	src: url('../fonts/ostrich-sans-black.woff') format('woff'), 
        url('../fonts/ostrich-sans-black.ttf') format('truetype'), 
        url('../fonts/ostrich-sans-black.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    color: #FFFFFF;
    font-size: 100%;
    font-weight: 400;
    line-height: 1.75;
    background-color: #111111;
    font-family: 'Ostrich-Sans-Black', sans-serif;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

header {
    width: 100%;
    height: 50px;
}

nav {
    width: 100%;
    z-index: 99;
    position: relative;
}

nav input {
    opacity: 0;
    z-index: -1;
    position: absolute;
}

nav label {
    padding: .5em;
    display: block;
    cursor: pointer;
}

.hamburger__icon,
.hamburger__icon:after,
.hamburger__icon:before {
    width: 100%;
    height: .3em;
    background: #FFFFFF;
    -webkit-transition: all 0.2s easy-in-out;
    -o-transition: all 0.2s easy-in-out;
    transition: all 0.2s easy-in-out;
}

.hamburger__icon {
    margin: .5em 0;
    max-width: 2em;
    position: relative;
    display: inline-block;
}

.hamburger__icon:after,
.hamburger__icon:before {
    content: '';
    left: 0;
    position: absolute;
}

.hamburger__icon:before {
    top: -0.7em;
}

.hamburger__icon:after {
    bottom: -0.7em;
}

nav input[type='checkbox']:checked + label .hamburger__icon {
    background: transparent;
}

nav input[type='checkbox']:checked + label .hamburger__icon:before {
    top: 0;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

nav input[type='checkbox']:checked + label .hamburger__icon:after {
    bottom: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

nav input:checked ~ .hamburger__overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #343434;
}

.menu {
    margin: 0;
    padding: 0;
    opacity: 0;
    width: 100%;
    overflow: hidden;
    font-size: 1.5rem;
}

nav input:checked ~ .menu {
    opacity: 1;
    max-height: inherit;
}

main {
    padding: 0 .5em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.left {
    width: 100%;
    min-width: 450px;
    min-height: 500px;
}

.right {
    width: 100%;
    min-height: 100vh;
    background: url('../images/pexels-anni-roenkae-2457284.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.menu__item {
    list-style-type: none;
}

.menu__link {
    color: #FFFFFF;
    padding: 1rem 2em;
    display: inline-block;
    text-decoration: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-transform: uppercase;
}

.menu__link:hover {
    text-decoration: underline;
}

form {
    width: 100%;
    padding: .5em;
    margin: 0 auto;
    max-width: 500px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

form > label {
    display: block;
    font-size: 2rem;
}

input[type='text'],
input[type='email'],
input[type='password'] {
    width: 100%;
    height: 50px;
    display: block;
    font-size: 1.5rem;
    margin-bottom: 1em;
    font-family: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.btn {
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin-right: .5em;
    margin-bottom: .5em;
    border-radius: 2px;
    letter-spacing: 3px;
    font-family: inherit;
    display: inline-block;
    padding: .25rem .5rem;
    text-decoration: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #0404FF;
    text-transform: uppercase;
}

.btn:hover {
    color: #FFFFFF;
    background-color: #000000;
    outline: 2px solid #FFFFFF;
}

.btn--large {
    width: 100%;
    height: 60px;
    font-size: 2rem;
    line-height: 60px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.btn--red {
    border: 2px solid #CC0000;
}

.btn--green {
    border: 2px solid #006600;
}

.btn--blue {
    border: 2px solid #0000FF;
}

.btn--outline {
   color: #484848;
   background-color: #FFFFFF;
   border: 2px solid #484848;
}

.m-b-1 {
    margin-bottom: 1em;
}

.list {
    margin: 0;
    padding: 0;
}

.list__item {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.list__item span {
    font-weight: normal;
}

.list__img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-width: 300px;
}

.centered {
    text-align: center;
}

@media only screen and (min-width: 500px) {
    .container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .left {
        width: 50%;
    }
    .right {
        width: 50%;
    }
}
