html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    color: #FFFFFF;
    background-color: #111111;
    font-family: monospace, monospace;
}

nav {
    width: 100%;
    z-index: 99;
    position: relative;
}

nav input {
    opacity: 0;
    z-index: -1;
    position: absolute;
}

nav label {
    padding: .5em;
    display: block;
    cursor: pointer;
}

.hamburger__icon,
.hamburger__icon:after,
.hamburger__icon:before {
    width: 100%;
    height: .3em;
    background: #FFFFFF;
    transition: all 0.2s easy-in-out;
}

.hamburger__icon {
    margin: .5em 0;
    max-width: 2em;
    position: relative;
    display: inline-block;
}

.hamburger__icon:after,
.hamburger__icon:before {
    content: '';
    left: 0;
    position: absolute;
}

.hamburger__icon:before {
    top: -0.7em;
}

.hamburger__icon:after {
    bottom: -0.7em;
}

nav input[type='checkbox']:checked + label .hamburger__icon {
    background: transparent;
}

nav input[type='checkbox']:checked + label .hamburger__icon:before {
    top: 0;
    transform: rotate(-45deg);
}

nav input[type='checkbox']:checked + label .hamburger__icon:after {
    bottom: 0;
    transform: rotate(45deg);
}

nav input:checked ~ .hamburger__overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #343434;
}

.menu {
    margin: 0;
    padding: 0;
    opacity: 0;
    width: 100%;
    overflow: hidden;
    font-size: 1.5rem;
}

nav input:checked ~ .menu {
    opacity: 1;
    max-height: inherit;
}

main {
    padding: 0 .5em;
    box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.menu__item {
    list-style-type: none;
}

.menu__link {
    color: #FFFFFF;
    padding: 1rem 2em;
    display: inline-block;
    text-decoration: none;
    box-sizing: border-box;
    text-transform: uppercase;
}

.menu__link:hover {
    text-decoration: underline;
}

form {
    width: 100%;
    max-width: 400px;
}

label {
    display: block;
    margin-bottom: .5em;
}

input[type='text'],
input[type='email'],
input[type='password'] {
    width: 100%;
    height: 45px;
    display: block;
    padding: .5em;
    margin-bottom: 1em;
    box-sizing: border-box;
}

.btn {
    border: 0;
    cursor: pointer;
    font-size: .8rem;
    text-align: center;
    display: inline-block;
    margin-right: .5em;
    border-radius: 2px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: .25em .5em;
    box-sizing: border-box;
    text-transform: uppercase;
    text-decoration: none;
}

.btn:hover {}

.btn--large {
    width: 100%;
    height: 45px;
    font-size: 1rem;
    padding: .5em 1em;
}

.btn--red {
    border: 2px solid #CC0000;
}

.btn--green {
    border: 2px solid #006600;
}

.btn--blue {
    border: 2px solid #0000FF;
}

.btn--outline {
   color: #484848;
   background-color: #FFFFFF;
   border: 2px solid #484848;
}

.m-b-1 {
    margin-bottom: 1em;
}

.list {
    margin: 0;
    padding: 0;
}

.list__item {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.list__item span {
    font-weight: normal;
}

.list__img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-width: 300px;
}
